body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to left, #8d9671, #64a3e6b2);
  background-size: 100% 1000vh;
  height: 10vh;
  margin: 0;
}
.navbar-brand {
  font-weight: bold;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
.container .nav-item:hover {
  transform: scale(1.2, 1.2);
}
.container .nav-item:hover {
  transform: scale(1.2, 1.2);
  background-color: #ffffff00;
  color: #fffefe;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}

.active {
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contact-us {
  background-color: #f7f7f700;
  padding: 20px;
  border: 1px solid #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-us h2 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #444;
}

.contact-info {
  margin-top: 20px;
}

.contact-info h3 {
  margin-top: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
}
